.detailForecast {
  flex-direction: column;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  background: linear-gradient(rgba(47, 150, 163, 0.4), rgba(48, 62, 143, 0.6));
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 120px;
  .dateCurrently {
    text-align: center;
  }
  .daily {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .summ {
      display: flex;
      flex-direction: column;
      #summ-text {
        color: #333;
        margin-top: -10px;
        text-align: center;
      }
    }
    #iconCurr {
      margin: 2px;
      height: 60px;
      width: 60px;
    }
    .currentlyTemp {
      font-size: 25px;
      color: #333;
      margin-left: -30px;
      margin-top: 15px;
    }
    .maxTemp,
    .minTemp {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      text-align: center;
      width: 25%;
      #max {
        color: red;
        font-size: 25px;
      }
      @media screen and (max-width: 768px) {
        #max {
          font-size: 22px;
        }
      }
      #min {
        color: green;
        font-size: 20px;
      }
    }
    .maxTemp {
      padding-left: 60px;
    }
    .minTemp {
      padding-right: 60px;
    }
  }
  .hourlyTemp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
    #hourly-icon {
      margin: 2px;
      height: 60px;
      width: 60px;
      background: lightgrey;
    }
  }
  .dailyTemp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    .day-temp {
      width: 20%;
      h6 {
        color: red;
      }
      .long-temp {
        display: flex;
        flex-direction: column;
        text-align: center;
        #long-icon {
          margin: 2px;
          height: 50px;
          width: 50px;
          margin-left: auto;
          margin-right: auto;
          background: lightgrey;
        }
      }
    }
  }
  a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.4rem;
    background: transparent;
    border: 0.05rem solid whitesmoke;
    font-family: "Carter One", cursive;
    color: whitesmoke;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    margin-left: 50px;
    transition: all 0.5s ease-in-out;
    &:hover {
      background: whitesmoke;
      color: dodgerblue;
      border: 0.05rem solid blue;
    }
  }
}
