.map-content {
  display: block;
  margin-top: 15px;
  position: relative;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));

  li {
    list-style-type: none;
  }
  .img-pos {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  #pirot {
    bottom: 22%;
    right: 10%;
  }
  #nis {
    bottom: 27%;
    right: 25%;
  }
  #kragujevac {
    bottom: 40%;
    right: 37%;
  }
  #uzice {
    bottom: 38%;
    left: 20%;
  }
  #zajecar {
    bottom: 37%;
    right: 20%;
  }
  #pozarevac {
    top: 35%;
    right: 35%;
  }
  #beograd {
    top: 30%;
    left: 29%;
  }
  #novi-sad {
    top: 20%;
    left: 25%;
  }
  #subotica {
    top: 5%;
    left: 20%;
  }
  .city-pos {
    position: absolute;
    text-shadow: 2px 2px 4px whitesmoke;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .temperature-content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      img {
        margin: 2px;
        padding: -5px;
        height: 30px;
        width: 30px;
        background: grey;
      }
      h2,
      span {
        margin: 2px;
      }
    }
  }
}
